#  Окружение и чувствительные файлы
.env

#  Системные и временные файлы
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp
*.swo
*.~*

#  Python кеш и байт-код
__pycache__/
*.py[cod]
*.pyo

# Логи
*.log

#  Настройки IDE и редакторов
.idea/
.vscode/
*.code-workspace

#  Виртуальное окружение
venv/

#  Файлы баз данных
*.db
*.sqlite3
!comments_backup.db  # <-- исключение: резервная копия

# Кэш изображений (только cache)
static/images/cache/

# Разрешаем всё содержимое static/images, кроме кэша
!static/images/
!static/images/**

# Node.js зависимости
node_modules/

# Документация/заметки (черновики)
README.md.bak
TODO.md

# Временные файлы
structure.txt

.env

.env.local

.treeignore
