<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Irade Shamsi is a professional hairdresser and colorist offering haircuts, coloring, and styling services of any complexity.">
    <meta name="keywords" content="Irade Shamsi, hairdresser, colorist, professional haircuts, hair coloring, hair styling, beauty salon, Tashkent, hairstyling expert">

    <!-- Title -->
    <title>Irade Shamsi Portfolio - Professional Hairdresser and Colorist</title>

    <!-- Meta Description -->
    <meta name="description" content="Irade Shamsi is a professional hairdresser and colorist offering haircuts, coloring, and styling services of any complexity. Individual approach to every client.">

    <!-- Meta Keywords -->
    <meta name="keywords" content="hairdresser, colorist, haircuts, coloring, styling, Tashkent hairdresser, Tashkent colorist, Irade Shamsi, professional, beauty services">

    <!-- Meta Author -->
    <meta name="author" content="Irade Shamsi">

    <!-- Favicon -->
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

    <!-- Open Graph / Social Media -->
    <meta property="og:title" content="Irade Shamsi Portfolio">
    <meta property="og:description" content="Professional hairdresser and colorist. Haircuts, coloring, and styling services in Tashkent.">
    <meta property="og:image" content="/static/images/preview.jpg">
    <meta property="og:url" content="https://irada-shamsi.com">
    <meta property="og:type" content="website">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Irade Shamsi Portfolio">
    <meta name="twitter:description" content="Irade Shamsi - Professional Hairdresser and Colorist.">
    <meta name="twitter:image" content="/static/images/preview.jpg">

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "Irade Shamsi",
        "description": "Professional hairdresser and colorist in Tashkent. | Профессиональный парикмахер и колорист в Ташкенте. | Toshkentda professional sartarosh va kolerist.",
        "url": "https://irada-shamsi.com",
        "address": {
        "@type": "PostalAddress",
        "addressLocality": "Tashkent",
        "addressCountry": "Uzbekistan"
        },
        "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "reviewCount": "27"
        },
        "image": "https://irada-shamsi.com/static/images/home.png"
        }
        </script>
        
        
</head>

<body>

    <!-- header design -->
    <header class="header">
        <a href="#" class="logo">
            <i class='bx bxs-magic-wand'></i>Irade Shamsi</a>

        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#comments">Reviews</a> <!-- Новый пункт навигации -->
            <!-- <a href="#contact">Contact</a> -->
        </nav>

        <!-- Language Switcher -->
        <div class="language-switcher">
            <a href="/?lang=en" {% if request.query_params.get('lang') == 'en' %}class="active"{% endif %}>English</a>
            <a href="/?lang=ru" {% if request.query_params.get('lang') == 'ru' %}class="active"{% endif %}>Русский</a>
            <a href="/?lang=uz" {% if request.query_params.get('lang') == 'uz' %}class="active"{% endif %}>O‘zbek</a>
        </div>        
        
    </header>

    <!-- home section design -->
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, I'am</h3>
            <h1>Irade Shamsi</h1>
            <h3>And I'm a <span class="multiple-text"></span></h3>
            <p>I perform all types of haircuts, styling, and coloring techniques of any complexity.</p>
            <p>Individual approach to all clients</p>

            <div class="social-media">
                <!-- Telegram -->
                <!-- Социальные сети -->
                <a href="https://t.me/irash83" target="_blank" title="Telegram">
                    <i class='bx bxl-telegram'></i>
                </a>
    
                <!-- Facebook -->
                <a href="https://www.facebook.com/profile.php?id=100079985679881&mibextid=LQQJ4d&mibextid=LQQJ4d" target="_blank" title="Facebook">
                    <i class='bx bxl-facebook'></i>
                </a>
    
                <!-- Instagram -->
                <a href="https://www.instagram.com/irade_shamsi/profilecard/?igsh=Nm9qdnpvbXR6cGNy" target="_blank" title="Instagram">
                    <i class='bx bxl-instagram-alt'></i>
                </a>
    
                <!-- WhatsApp -->
                <a href="https://wa.me/998909574960?text=Здравствуйте!%20Удобно%20пообщаться?" target="_blank" title="WhatsApp">
                    <i class='bx bxl-whatsapp'></i>
                </a>

                <!-- Gmail -->
                <a href="mailto:shamsiiradeshemsulaevna@gmail.com" title="Send an email">
                    <i class='bx bxl-gmail'></i>
                </a>

            </div>
            
            <!--
            <div class="buttons-container">
                Кнопка для скачивания 
                <a href="files/price-list.pdf" class="btn" download>
                    <i class='bx bxs-download'></i> Download Price List
                </a>
                Кнопка для просмотра 
                <button class="btn" onclick="openModal('price-modal')">
                    <i class='bx bx-show'></i> View Price List
                </button>
            </div>
            -->    
        </div>

        <div class="home-img">
            <img src="/static/images/home.png" alt="Irade Shamsi - Professional Hairdresser" loading="lazy">
        <div>

    </section>

    <!--
    Modal Window for Viewing Price List
    <div id="price-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('price-modal-en')">&times;</span>
            <h2>Прайс-лист</h2>
            <div class="price-content">
                <table>
                    <thead>
                        <tr>
                            <th>Услуга</th>
                            <th>Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Стрижка</td>
                            <td>150,000 UZS</td>
                        </tr>
                        <tr>
                            <td>Окрашивание</td>
                            <td>300,000 UZS</td>
                        </tr>
                        <tr>
                            <td>Укладка</td>
                            <td>100,000 UZS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    -->

    <!-- about section design -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="/static/images/about.png" alt="Photo of Irade Shamsi" loading="lazy">
        </div>
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>I am a professional hairdresser and colorist!</h3>
            <p>I also provide professional training for everyone who wants to learn a new profession.</p>
            <button class="btn" onclick="openModal('about-modal-en')">Learn More</button>
        </div>
    </section>
    
    <div id="about-modal-en" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('about-modal-en')">&times;</span>
            <h2>More About Me</h2>
            <p>I am a professional hairdresser-colorist,
                an experienced hair stylist with over 15 years of experience in the beauty industry. I specialize in haircuts, styling, creating hairstyles, and coloring. I possess a high level of professionalism and focus on delivering quality customer service, as evidenced by multiple professional certifications.</p>
        </div>
    </div>
    
    <!-- services section design -->
    <section class="services" id="services">
        <h2 class="heading" data-translate="services.heading">My <span>Specializations</span></h2>
    
        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-cut'></i>
                <h3 data-translate="services.haircuts.title">Haircuts</h3>
                <p data-translate="services.haircuts.description">
                    I provide modern haircuts of any complexity, considering the individual preferences of the client.
                </p>
                <!-- <button class="btn" onclick="openServiceModal('haircuts')" data-translate="services.more">Learn More</button> -->
            </div>
    
            <div class="services-box">
                <i class='bx bxs-palette'></i>
                <h3 data-translate="services.coloring.title">Coloring</h3>
                <p data-translate="services.coloring.description">
                    I use the best materials and modern techniques to create the perfect color.
                </p>
                <!-- <button class="btn" onclick="openServiceModal('coloring')" data-translate="services.more">Learn More</button> -->
            </div>
    
            <div class="services-box">
                <i class='bx bxl-tailwind-css'></i>
                <h3 data-translate="services.styling.title">Styling</h3>
                <p data-translate="services.styling.description">
                    I create hairstyles for any occasion: casual, evening, and for various events.
                </p>
                <!-- <button class="btn" onclick="openServiceModal('styling')" data-translate="services.more">Learn More</button> -->
            </div>
        </div>
    </section>
    
    <!-- Modal -->
    <div id="service-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="service-modal-title"></h2>
            <p id="service-modal-description"></p>
        </div>
    </div>
    

    
    <!-- portfolio section design -->
    <section class="portfolio" id="portfolio">
        <h2 class="heading">My <span>Works</span></h2>

        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="/static/images/portfolio 1.png" alt="" loading="lazy">
            </div>

            <div class="portfolio-box">
                <img src="/static/images/portfolio 2.png" alt="" loading="lazy">
            </div>    
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 3.png" alt="" loading="lazy">
            </div>

            <div class="portfolio-box">
                <img src="/static/images/portfolio 4.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 5.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 6.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 7.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 8.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 9.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 10.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 11.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 13.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 14.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 15.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 16.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 17.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 18.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 19.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 20.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 21.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 22.png" alt="" loading="lazy">
            </div>
            <!--
            <div class="portfolio-box">
                <img src="/static/images/portfolio 23.png" alt="" loading="lazy">
                <div class="portfolio-layer">
                    <h4>Style</h4>
                    <p>____</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            -->
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 24.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 25.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 27.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 28.png" alt="" loading="lazy">
            </div>

            <div class="portfolio-box">
                <img src="/static/images/portfolio 30.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 31.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 32.png" alt="" loading="lazy">
            </div>      
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 33.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 34.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 35.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 36.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 37.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 38.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 39.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 40.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 41.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 42.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 43.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 45.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 47.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 48.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 49.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 50.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 51.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 52.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 53.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 54.png" alt="" loading="lazy">
            </div>

            <div class="portfolio-box">
                <img src="/static/images/portfolio 55.png" alt="" loading="lazy">
            </div>

            <div class="portfolio-box">
                <img src="/static/images/portfolio 56.png" alt="" loading="lazy">
            </div>

            <div class="portfolio-box">
                <img src="/static/images/portfolio 57.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 58.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 59.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 60.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 61.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 62.png" alt="" loading="lazy">
            </div>      

            <div class="portfolio-box">
                <img src="/static/images/portfolio 63.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 64.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 65.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 66.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 67.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 68.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 69.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 70.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 71.png" alt="" loading="lazy">
            </div>

            <div class="portfolio-box">
                <img src="/static/images/portfolio 72.png" alt="" loading="lazy">
            </div>
            
            <div class="portfolio-box">
                <img src="/static/images/portfolio 73.png" alt="" loading="lazy">
            </div>

            <div class="portfolio-box">
                <img src="/static/images/portfolio 74.png" alt="" loading="lazy">
            </div>
        </div>
    </section>

    <!-- contact section design -->
    <!-- <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>

        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email Address">
            </div>
            <div class="input-box">
                <input type="number" placeholder="Mobile Number">
                <input type="text" placeholder="Email Subject">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>        
    </section> -->
    
    <!-- comments section -->
<section id="comments">
    <h2>Leave a review</h2>
    <form id="comment-form">
        <div class="rating-container">
            <label>Rate my work:</label>
            <input type="hidden" id="rating" name="rating" value="">
            <div class="stars">
                <span data-star="1">★</span>
                <span data-star="2">★</span>
                <span data-star="3">★</span>
                <span data-star="4">★</span>
                <span data-star="5">★</span>
            </div>
        </div>
        <textarea id="comment-text" placeholder="Write your review..." required></textarea>
        <button type="submit" class="btn">Send</button>
    </form>
    <div id="comments-list">
        <h3>Reviews:</h3>
        <!-- Здесь будут отображаться отзывы -->
    </div>
</section>
    
    <!-- footer design -->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2025 by ๛Hunter๖ | All Rights Reserved.</p>
        </div>

        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-chevrons-up'></i></a>
        </div>
    </footer>

    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <div id="snow-container"></div>
    <div id="ornaments-container"></div>

    <!-- custom js -->
    <script src="/static/js/script.js"></script>

</body>

</html>
